<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ML Pricing App</title>
</head>
<body>
    <h1>ML Pricing App</h1>
    <form id="pricing-form" method="post">
        <label for="product_name_length">Product Name Length:</label>
        <input type="text" id="product_name_length" name="product_name_length" required>

        <label for="product_description_length">Product Description Length:</label>
        <input type="text" id="product_description_length" name="product_description_length" required>

        <label for="product_photos_qty">Product Photos Quantity:</label>
        <input type="text" id="product_photos_qty" name="product_photos_qty" required>

        <label for="product_weight_g">Product Weight (g):</label>
        <input type="text" id="product_weight_g" name="product_weight_g" required>

        <label for="product_length_cm">Product Length (cm):</label>
        <input type="text" id="product_length_cm" name="product_length_cm" required>

        <label for="product_height_cm">Product Height (cm):</label>
        <input type="text" id="product_height_cm" name="product_height_cm" required>

        <label for="product_width_cm">Product Width (cm):</label>
        <input type="text" id="product_width_cm" name="product_width_cm" required>

        <label for="product_category_name">Product Category Name:</label>
        <input type="text" id="product_category_name" name="product_category_name" required>

        <button type="submit">Submit</button>
    </form>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
